/* @import "./module/color1"; */

/* @import "./module/color2"; */

/* $color-sub2: #FFB14D; */

/* $color-th-bg: #fae0c9;
$color-accent: #fff700; */

/* @import "./module/color6"; */

/* @import "./module/color7"; */

/* @import "./module/color8"; */

/* @import "./module/color9"; */

:root {
	--default-font-serif: 'Noto Serif', 'NotoSerifJP-local', 'Noto Serif JP', serif, -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", "メイリオ", Meiryo;
	--default-font-sans: 'Noto Sans', 'NotoSansJP-local', 'Noto Sans JP', sans-serif, -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", "メイリオ", Meiryo;
	--default-font-M-PLUS: 'M PLUS 1p', sans-serif, -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", "メイリオ", Meiryo;
}

.border-radius-circle {
	border-radius: 50%;
}

/* @import "./module/moduleComponent6"; */

/* @import "./setting/**"; */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	src: local("Noto Sans CJK JP"), url(http://fonts.googleapis.com/earlyaccess/notosansjp.css) format("woff");
	font-family: "Noto Sans JP";
	font-style: normal;
}

*,
*:before,
*:after {
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 16px x 0.625 = 10px(=1rem) */
}

body {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	display: flex;
	flex-direction: column; /* 16px */
	font-family: var(--default-font-sans);
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.8;
	min-height: 100vh;
	min-height: 100%;
	text-size-adjust: 100%;
}

img {
	max-width: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #226592;
	opacity: 0.8;
	transition: 0.3s;
}

h2:first-of-type {
	margin-bottom: 32px;
	padding-top: initial;
}

h2 {
	margin: auto;
	margin-bottom: 32px;
	padding-top: 32px;
	text-align: left;
}

h3 {
	color: #226592;
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: 700;
	margin: auto;
	margin-bottom: 16px;
	margin-bottom: 24px;
	margin-top: 16px;
	text-align: center;
}

h4 {
	color: #226592;
	margin: auto;
	margin-bottom: 16px;
	text-align: center;
	text-align: left;
}

p {
	line-height: 2;
	margin: auto;
	margin-bottom: 32px;
}

section {
	padding: 16px;
}

.layout {
	padding: 16px;
}

.title {
	padding: 8px;
}

/*subpage*/

.h2-title {
	border-bottom: solid 3px #226592;
	color: #226592;
	font-size: 30px;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 0;
	margin-bottom: 0 !important;
}

.h3-title {
	background: transparent;
	border-left: solid 5px #226592;
	color: #404040;
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0.5rem 0 1rem 0;
	margin-top: 0;
	padding: 0 0 0 0.5em;
	text-align: left;
}

.text-bold {
	font-weight: bold;
}

.text-big {
	font-size: 18px;
	font-size: 1.8rem;
}

.large {
	font-size: 15px;
	font-size: 1.5rem;
}

.text-green {
	color: #3e91c1;
}

.text-orange {
	color: #226592;
}

.text-warning {
	color: #d82d27;
}

/* @import "./setting/base-NotoSerif"; */

/* @import "./layout/layout1"; */

/* @import "./layout/layout2"; */

header {
	gap: 10px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
}

.header-none {
	display: block;
}

#global-nav li a:after {
	color: #fff;
}

#global-nav li {
	border-left: 1px solid transparent;
}

#topBtn {
	background-color: #226592;
	border-radius: 30px;
	bottom: -10px;
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 60px;
	line-height: 38px;
	padding-top: 30px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	z-index: 9999;
}

#topBtn:before {
	content: "top";
	left: 0;
	position: absolute;
	top: 10px;
	width: 100%;
}

#topBtn:hover {
	opacity: 0.8;
}

.header-inner {
	gap: 10px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-areas: none;
	grid-template-columns: 1.5fr 1fr;
	justify-items: center;
	padding: 10px 0 0;
}

.header-inner .logo {
	grid-column: 1 / 2;
	grid-row: 1 / 2; /*     grid-area: logo; */
}

.logo {
	align-self: end;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.logo p {
	display: none;
}

.header-holiday {
	color: #d82d27;
	display: block;
	text-align: center;
}

.fa-phone {
	background: #f1f2f4;
	border-radius: 25px;
	color: #226592;
	display: block;
	padding: 6px;
}

.pc-only {
	display: none;
}

.fa-phone-sp-only {
	display: none;
}

.information {
	grid-column: 1 / 3;
	justify-self: center;
	text-align: center;
}

.gnav {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}

.reservation {
	justify-self: center;
}

.reservation span {
	background-color: #226592;
	text-align: center;
}

.reservation a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 6px;
}

#global-nav {
	margin: auto;
	max-width: 1000px;
	width: 100%;
}

#global-nav ul {
	background: #226592;
	display: flex;
	flex-wrap: wrap;
}

#global-nav ul li {
	flex-basis: 50%;
	flex-grow: 1;
}

#global-nav ul li a {
	color: #fff;
	display: block;
	padding: 0.7rem;
}

#global-nav ul li a:after {
	color: #fff;
	content: attr(title);
	display: block;
	font-size: 10px;
	font-size: 1rem;
	padding-top: 0.3rem;
	text-align: center;
}

#global-nav li {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	text-align: center;
}

#global-nav li + li {
	border-bottom: 1px solid #fff;
	border-left: 0;
	border-right: 1px solid #fff;
}

#global-nav li:last-of-type {
	border-right: none;
}

footer {
	gap: 10px;
	background: #226592;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	padding-top: 20px;
}

footer .footer_inner {
	align-items: center;
	color: #fff;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	padding: 0 16px 0;
}

footer .footer_inner .footer-logo p {
	margin-bottom: 0;
	padding-top: 15px;
}

footer .footer-info {
	align-items: center;
	background: #fff;
	color: #226592;
	display: grid;
	font-size: large;
	grid-auto-rows: 50px;
	grid-template-columns: 1fr 50px 2fr;
	justify-items: center;
	margin: 25px 0 25px;
}

footer .footer-info .fa-phone {
	background: none;
	border-radius: 0;
	color: #226592;
	display: block;
	font-size: 20px;
	font-size: 2rem;
}

footer .footer-info .footer-yoyaku {
	background-color: #226592;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	margin: initial;
	margin-bottom: initial;
	text-align: center;
	width: 6rem;
}

footer .footer-info-time,
footer .footer-holiday {
	display: none;
}

/* 
  .footer-info-3--holiday{
      color: $color-warning;
    } */

.footer-nav li {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	text-align: center;
}

.footer-nav li + li {
	border-left: 0;
	border-right: 1px solid #fff;
}

.footer-nav {
	display: none;
}

.footer-nav ul li > a {
	color: #fff;
}

small {
	background: #3e91c1;
	color: #fff;
	display: block;
	padding: 1rem;
	text-align: center;
}

/* @import "./layout/layout6"; */

/* @import "./layout/layout7"; */

/* @import "./layout/layout8"; */

/* @import "./layout/layout9"; */

/* @import "./templates/_template1"; */

/* @import "./templates/template2"; */

.mainVisual-inner {
	margin: auto;
	width: 100%;
}

.mainVisual-inner .swiper-slide {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mainVisual-inner .mainVisual-text {
	color: #444;
	display: table-cell;
	font-size: 12px;
	font-size: 1.2rem;
	height: 50vh;
	line-height: 1.5;
	padding: 2rem;
	text-shadow: #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px;
	vertical-align: bottom;
}

.mainVisual-inner .mainVisual-header,
.mainVisual-inner .mainVisual-body {
	background: #ffffff96;
	padding: 20px;
	width: 100%;
}

.mainVisual-inner .mainVisual-header {
	letter-spacing: 10px;
	padding-bottom: initial;
}

.mainVisual-inner p {
	line-height: initial;
	margin-bottom: initial;
}

.mainVisual-inner .swiper-slide {
	height: 50vh;
}

.mainVisual-inner .swiper-container {
	height: 100% !important;
}

.catchcopy h2 {
	font-weight: 600;
}

.catchcopy a {
	background-color: #226592;
	border-radius: 25px;
	color: #fff;
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 170px;
	padding: 5px 0 5px;
	text-align: center;
}

.info {
	margin-top: 50px;
}

.info .info-inner {
	margin: auto;
}

.info .info-body {
	display: table;
	margin: auto;
}

.info p {
	max-width: 500px;
}

.popup-content {
	padding-top: 0;
}

.popup-content .popup-image span {
	border-bottom: solid 1px #226592;
	display: block;
	margin: 3% 0;
	padding: 0 0 1% 1%;
}

.summary-body .summary {
	border-top: 1px solid #226592;
	color: #226592;
	line-height: 1.8;
	margin: 0.5rem 0 0.5rem 0;
	padding: 10px 0 0;
	width: 100%;
}

.summary-body .summary dt {
	float: left;
	margin: 0;
	padding: 0 0 0 0.5rem;
	width: 7em;
}

.summary-body .summary dd {
	border-bottom: 1px solid #226592;
	color: #000;
	margin: 0 0 1rem;
	padding: 0 5px 10px 7em;
	position: relative;
	text-align: left;
}

/* @import "./templates/template6"; */

/* @import "./templates/template7"; */

/* @import "./templates/template8"; */

/* @import "./templates/template9"; */

/* @import "./page/**"; */

.h3-txt {
	text-align: left;
}

/*subpage*/

.main-content {
	max-width: 1000px;
	padding-top: 2rem;
	width: 100%;
}

.doctor p {
	margin-bottom: initial;
}

.interview p {
	margin-bottom: initial;
	text-align: justify;
	text-justify: inter-ideograph;
}

.name {
	font-size: 2rem;
}

.profileBox ul {
	padding: 1.5rem 0;
}

.icon {
	line-height: 1.4;
	padding-left: 1.2em;
	position: relative;
}

.icon:before {
	color: #226592;
	content: "\f111";
	font-family: "Font Awesome 5 Free";
	font-size: 1em;
	left: 0;
	position: absolute;
	top: 0.1em;
}

.col-2 .staff-text {
	padding-bottom: 56px;
}

.job-icon {
	line-height: 1.4;
	margin-bottom: 30px;
	margin-top: 3rem;
	padding-left: 1.2em;
	position: relative;
}

.job-icon:before {
	color: #226592;
	content: "\f111";
	font-family: "Font Awesome 5 Free";
	font-size: 1em;
	left: 0;
	position: absolute;
	top: 0.1em;
}

.job-list {
	background: none;
	color: #226592;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 400px;
	text-align: center;
	width: 100%;
}

.job-list li {
	border-left: 1px solid #226592;
	border-right: 1px solid #226592;
	width: 100%;
}

.job-list li + li {
	border-left: 1px solid #226592;
	border-left: 0;
	border-right: 1px solid #226592;
	text-align: center;
}

.job p {
	color: #226592;
	font-size: 2rem;
	margin: 1rem 0;
	padding-top: 2rem;
}

.job .time {
	border-top: 1px solid #226592;
	color: #226592;
	line-height: 1.8;
	margin: 0.5rem 0 0.5rem 0;
	padding: 10px 0 0;
	width: 100%;
}

.job .time dd {
	border-bottom: 1px solid #226592;
	color: #000;
	margin: 0 0 1rem;
	padding: 0 5px 10px 13em;
	position: relative;
	text-align: left;
}

.job .time dt {
	float: left;
	margin: 0;
	padding: 0 0 0 0.5rem;
	width: 7em;
}

.employment {
	padding-top: 2rem;
}

.employment .icon {
	margin-bottom: initial;
}

.news-list--item {
	border-top: 1px solid #226592;
	display: grid;
	grid-template-columns: 0fr 1fr;
	justify-content: center;
	margin: auto;
	max-width: 800px;
}

.news-list--item dt {
	border-bottom: 1px solid #226592;
	padding: 10px;
	width: 7em;
}

.news-list--item dd {
	gap: 20px;
	align-items: baseline;
	border-bottom: 1px solid #226592;
	color: #000;
	display: grid;
	grid-template-columns: 80px 1fr;
	padding: 10px;
	text-align: left;
}

.news-details {
	padding: 10px 0 10px 0;
}

.news-details ul {
	padding: 20px 0;
}

.cat {
	background: #226592;
	border-radius: 25px;
	color: #fff;
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
}

.calendar {
	font-size: 18px;
	font-size: 1.8rem;
	text-align: center;
	width: 100%;
}

.calendar th,
.calendar td {
	border: 1px solid #226592;
	color: #226592;
}

.calendar tr:first-child td,
.calendar tr td:first-child {
	border: none;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

.calendar th.borderNone:first-child {
	border: none;
	font-weight: bold;
}

.mini-calendar th,
td {
	padding: 0;
}

.mini-calendar td {
	border: 1px solid #226592;
}

.mini-calendar table {
	table-layout: fixed;
	width: 100%;
}

.mini-calendar tbody {
	border: 2px solid #226592;
}

.mini-calendar tr {
	padding: 0;
	width: 100%;
}

.mini-calendar th {
	color: #226592;
	padding-bottom: 7px;
	padding-top: 7px;
	vertical-align: top;
}

.mini-calendar th,
td {
	color: #226592;
	text-align: center;
	vertical-align: middle;
}

.mini-calendar td .calendar-day-number,
.calendar-noday-number {
	background: #eee;
	display: block;
	font-weight: normal;
	height: auto;
	margin-bottom: 0;
	padding: 5px;
	width: 100%;
}

.mini-calendar [class*="calender-label"] {
	display: block;
	margin-top: 0;
}

.mini-calendar .calendar-labels {
	font-size: 10px;
	font-size: 1rem;
	padding: 5px 2px;
}

.mini-calendar td.calendar-sat .calendar-day-number {
	background: #c8ebfe;
}

.mini-calendar td.calendar-holiday .calendar-day-number,
.mini-calendar td.calendar-sun .calendar-day-number {
	background: #f8c7c7;
}

.calendar-year-month {
	color: #226592;
	padding-bottom: 7px;
	padding-top: 7px;
	text-align: center;
}

.calendar-year-month {
	color: #226592;
	font-size: 2.5rem;
	text-align: center;
}

.swiper-container .swiper-slide .mini-calendar {
	margin: 0;
	max-width: 100%;
	width: 100%;
}

.mainVisual-inner .swiper-container {
	height: 500px;
}

.holiday {
	align-items: center;
	color: #d82d27;
	display: grid;
	font-weight: bold;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	padding: 16px 0;
	text-align: center;
}

.holiday p {
	border: 1px solid #d82d27;
	margin: initial;
	margin: 16px;
}

.googleMap {
	height: 250px;
	margin: 2em 0 0 0;
}

.content-col2--text-right {
	display: grid;
}

.col-2 span {
	border-bottom: solid 1px #226592;
	display: block;
	margin: 10px 0;
}

.form-body {
	background-color: #eee;
	color: #226592;
	font-size: 14px;
	padding: 20px;
}

.form-body p {
	margin-bottom: 30px;
}

.form-body h3 {
	font-size: 16px;
	font-size: 1.6rem;
	text-align: left;
}

.form-body .g-recaptcha {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	justify-items: center;
}

.form-body input,
.form-body select {
	border: 1px solid #ccc;
	box-sizing: border-box;
	line-height: 1.2;
	padding: 8px;
	width: auto;
}

.form-body input.submit_button {
	background-color: #333;
	color: #fff;
	display: block;
	font-size: 14px;
	height: 48px;
	line-height: 1.5;
	margin: 30px auto 0;
	outline: none;
	position: relative;
	transition: all 0.3s;
	width: 225px;
}

.form-body .submit_button:hover {
	background: #666666;
}

.form-body textarea {
	width: 100%;
}

.contents-text p {
	margin-bottom: 20px;
}

.contents-text .underline {
	text-decoration: underline;
}

.ui-datepicker {
	background-color: #fff;
}

.ui-datepicker-header {
	background-color: #726250;
	padding: 15px 10px;
}

.ui-datepicker-header a {
	color: #fff;
}

.ui-datepicker-header a:hover {
	color: #226592;
}

.ui-datepicker-prev {
	float: left;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-title {
	color: #fff;
	padding: 0 30px;
	text-align: center;
}

.ui-datepicker-calendar {
	border-collapse: unset;
	border-spacing: 3px;
	color: #726250;
	padding: 0.5em;
	text-align: center;
}

.ui-datepicker-calendar thead {
	font-weight: bold;
}

.ui-datepicker-calendar thead th {
	padding: 0.5em 0;
}

.ui-datepicker-calendar td {
	border: none;
	padding: 0;
}

.ui-datepicker-calendar a {
	color: #726250;
	display: block;
	padding: 0.5em;
}

.ui-datepicker-calendar a:hover {
	background-color: #726250;
	color: #fff;
}

.ui-datepicker-header:after {
	clear: both;
	content: "";
	display: block;
}

.fig {
	background-color: #eee;
	margin-top: 50px;
	max-width: initial;
}

.fig .fig-col-2 {
	gap: 35px;
	display: grid;
	text-align: center;
}

.fig .fig-body {
	align-items: center;
	background: no-repeat;
	background-image: url(/images/fig01.jpg);
	background-position: center;
	background-size: cover;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1.2fr 1fr;
	height: 100%;
	height: 105px;
	overflow: hidden;
}

.fig .fig-body p {
	margin-bottom: auto;
}

.flg-6 {
	background-color: #fff;
}

.calendarArea,
.facility,
.summary,
.calendar-body,
.calendar,
.googleMap {
	margin-top: 50px;
}

.medical-body td {
	padding: 3px;
}

.googleMap {
	height: 347px;
	margin-top: initial;
	padding-top: 100px;
}

.summary_inner {
	align-content: center;
}

.summary_inner .summaryText {
	margin-bottom: initial;
}

.summary_inner .summaryText .text-big {
	font-size: 22px;
	font-size: 2.2rem;
}

.access li {
	margin: auto;
	padding-left: 12px;
	position: relative;
	width: 70%;
}

.access li:before {
	border: solid 4px transparent;
	border-left: solid 6px #226592;
	content: "";
	height: 0;
	left: 0;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 0;
}

/* @import "./page/index9"; */

/* @import "utility/**"; */

@media screen and (min-width: 769px) {

h2:first-of-type {
	padding-top: 56px;
}

h2 {
	text-align: center;
}

h2 {
	margin-bottom: 56px;
}

h3 {
	margin-bottom: 24px;
}

p {
	margin-bottom: 56px;
}

section {
	margin: auto;
	max-width: 1200px;
}

.layout {
	margin: auto;
	max-width: 1200px;
}

.h2-title {
	padding-top: 0 !important;
	text-align: left;
}

.text-big {
	font-size: 20px;
	font-size: 2rem;
}

.large {
	font-size: 16px;
	font-size: 1.6rem;
}

header {
	gap: 0;
	border-top: 12px solid #226592;
	position: relative;
	position: relative;
	z-index: 2;
}

header:before {
	border-top: 10px solid #3e91c1;
	content: "";
	display: block;
}

.header-time {
	display: block;
}

.header-none {
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: bold;
	letter-spacing: 2.2px;
}

.header-inner {
	gap: 0;
	align-items: center;
	display: grid;
	grid-auto-rows: auto;
	grid-template-areas: none;
	grid-template-columns: 350px 2fr;
	justify-items: initial;
	left: 50%;
	margin: auto;
	margin-bottom: 67px;
	margin-top: 185px;
	max-width: 1480px;
	padding: 0 10px;
	padding: 0 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	width: 100%;
}

.header-inner .logo {
	align-self: center;
	background: #fff;
	display: grid;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.header-inner .reservation {
	background-color: #226592;
	color: #fff;
	padding: initial;
	width: 125px;
}

.logo p {
	color: #787878;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 5px;
}

.header-holiday {
	display: inline;
}

.fa-phone {
	background: none;
}

.sp-only {
	display: none;
}

.pc-only {
	display: block;
}

.information-body {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	left: 75%;
	margin: auto;
	max-width: 500px;
	width: 100%;
}

.information {
	background: #3e91c1;
	color: #787878;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	grid-column: 2 / 3;
	justify-self: auto;
	line-height: 1.5;
	padding: 5px;
	text-align: left;
}

.gnav {
	grid-column: 2 / 2;
	grid-row: 1 / 2;
}

.reservation a {
	align-items: center;
	display: grid;
	font-size: 16px;
	font-size: 1.6rem;
	height: 100%;
	padding: 36px;
}

.reservation {
	justify-self: end;
}

#global-nav ul {
	background: none;
	background: #fff;
	display: grid;
	font-size: 14px;
	font-size: 1.4rem;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-content: center;
	margin: 10px;
}

#global-nav ul li a:after {
	color: #226592;
	padding: 0.7rem;
}

#global-nav ul li a {
	color: #787878;
}

#global-nav li {
	border-right: 1px solid #333;
}

#global-nav li + li {
	border-left: 1px solid #333;
	border-left: 0;
	border-right: 1px solid #333;
	text-align: center;
}

footer {
	padding-top: 50px;
}

footer .footer_inner {
	gap: 10px;
	font-size: 14px;
	font-size: 1.4rem;
	grid-auto-rows: auto;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	margin: auto;
	max-width: 1200px;
	width: 100%;
}

footer .footer-info {
	background: none;
	color: #fff;
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

footer .footer-info .fa-phone {
	color: #fff;
}

footer .footer-info .footer-yoyaku {
	background-color: #fff;
	border-radius: 25px;
	color: #226592;
	font-size: 12px;
	font-size: 1.2rem;
}

footer .footer-info-time,
footer .footer-holiday {
	display: block;
}

footer .footer-holiday {
	display: none;
}

.footer-nav {
	display: block;
	padding-bottom: 15px;
	padding-top: 25px;
}

.footer-nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: inherit;
	margin: auto;
	max-width: 980px;
}

.mainVisual {
	max-width: 100%;
}

.mainVisual-inner .mainVisual-text {
	display: table-cell; /*       height: 800px; */
	font-size: 25px;
	font-size: 2.5rem;
	height: 30em;
	vertical-align: bottom;
}

.mainVisual-inner .mainVisual-header,
.mainVisual-inner .mainVisual-body {
	margin: auto;
	width: 80%;
}

.mainVisual-inner .textSub {
	font-size: 18px;
	font-size: 1.8rem;
}

.mainVisual-inner .swiper-slide {
	height: 80rem;
}

.catchcopy {
	max-width: 800px;
	padding-top: 2rem;
}

.catchcopy h2 {
	text-align: left;
}

.info {
	margin-top: 100px;
}

.info .info-inner {
	grid-gap: 10px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1000px;
}

.main-content {
	margin: 4em auto;
}

.job-offerBox {
	gap: 20px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr;
}

.news-list--item {
	margin: 0 auto 54px;
	width: 100%;
}

.news-list--item dd {
	align-items: center;
}

.calendar {
	margin: auto;
	max-width: 800px;
}

.calendar th,
.calendar td {
	padding: 1rem;
}

.mini-calendar .calendar-labels {
	font-size: 12px;
	font-size: 1.2rem;
}

.calendar-year-month {
	margin-bottom: 0;
}

.holiday {
	grid-template-columns: 1fr 2fr;
	margin: auto;
	max-width: 600px;
}

.content-col2--text-left {
	gap: 15px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 2fr 1fr;
	text-align: center;
	text-align: left;
}

.content-col2--text-right {
	gap: 15px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 2fr;
	text-align: center;
	text-align: left;
}

.col-2 {
	gap: 20px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr;
}

.content-titleCol2--text-right {
	gap: 20px;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 2fr;
}

.content-titleCol2--text-right p {
	margin-bottom: initial;
}

.fig {
	margin-top: 100px;
}

.fig .fig-col-2 {
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	margin: auto;
	max-width: 800px;
}

.fig .fig-body {
	background-size: contain;
}

.calendarArea,
.facility,
.summary,
.calendar-body,
.calendar,
.googleMap {
	margin-top: 100px;
}

.googleMap {
	margin-top: initial;
}

.summary_inner {
	align-items: center;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr 1fr;
}

}

@media screen and (min-width: 769px) and (min-width: 769px) {

.header-inner img {
	display: block;
	margin: auto;
	padding: 1em 0;
	width: 70%;
}

}

@media screen and (max-width: 768px) {

body {
	font-size: 15px;
	font-size: 1.5rem;
}

.information-body {
	align-items: center;
	display: grid;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	justify-items: center;
}

footer .footer-info-2,
footer .footer-info-3 {
	display: none;
}

.doctor {
	padding-top: 30px;
}

.content-col2--text-right .contents-img {
	order: 2;
}

.content-col2--text-right .contents-text {
	order: 1;
}

.contents-img {
	display: grid;
	justify-content: center;
}

}

@media screen and (max-width: 600px) {

.ui-datepicker {
	box-sizing: border-box;
	left: 0 !important;
	width: 100%;
}

.ui-datepicker-calendar {
	width: 100%;
}

}

