//news
.news-list--item {
  border-top: 1px solid $color-main;
  color: $color-main;
  line-height: 1.8;
  margin: 0.5rem 0 0.5rem 0;
  padding: 10px 0 0;
  width: 100%;
  @include mq(pc) {
    margin: 0 auto 54px;
    width: 100%;
    max-width: 600px;
  }
  dt {
    float: left;
    margin: 0;
    padding: 0 0 0 0.5rem;
    width: 7em;
  }
  dd {
    border-bottom: 1px solid $color-main;
    color: $color-b;
    margin: 0 0 1rem;
    padding: 0 5px 10px 13em;
    position: relative;
    text-align: left;
  }
}

.cat {
  background: $color-main;
  @include border-radius(25);
  color: $color-w;
  display: block;
  @include font-size(12);
  left: 11rem;
  margin: 0;
  padding: 0 1em;
  position: absolute;
  text-align: center;
  top: 2px;
}

//カレンダー
.calendar {
  text-align: center;
  width: 100%;
  @include font-size(18);
  @include mq(pc) {
    margin: auto;
    max-width: 1000px;
    width: 800px;
  }
}

.calendar th,
td {
  border: 1px solid $color-main;
  color: $color-main;
  padding: 1rem;
}

.calendar tr:first-child td,
.calendar tr td:first-child {
  border: none;
  @include font-size(14);
  font-weight: bold;
}

.calendar th.borderNone:first-child {
  border: none;
  font-weight: bold;
}

.mini-calendar th,
td {
  padding: 0;
}

.mini-calendar table {
  table-layout: fixed;
  width: 100%;
}

.mini-calendar tbody {
  border: 2px solid $color-main;
}

.mini-calendar tr {
  padding: 0;
  width: 100%;
}

.mini-calendar th {
  color: $color-main;
  padding-bottom: 7px;
  padding-top: 7px;
  vertical-align: top;
}

.mini-calendar th,
td {
  color: $color-main;
  vertical-align: middle;
  text-align: center;
}

.mini-calendar td .calendar-day-number,
.calendar-noday-number {
  background: #eee;
  display: block;
  font-weight: normal;
  height: auto;
  margin-bottom: 0;
  padding: 5px;
  width: 100%;
}

.mini-calendar [class*="calender-label"] {
  display: block;
  margin-top: 0;
}

.mini-calendar .calendar-labels {
  font-size: 1.2rem;
  padding: 5px 3px;
}

.mini-calendar td.calendar-sat .calendar-day-number {
  background: $color-calendar-o;
}
.mini-calendar td.calendar-holiday .calendar-day-number,
.mini-calendar td.calendar-sun .calendar-day-number {
  background: $color-calendar-p;
}

.calendar-year-month {
  color: $color-main;
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: center;
  @include mq(pc) {
    margin-bottom: 0;
  }
}
.calendar-year-month {
  color: $color-main;
  font-size: 2.5rem;
  text-align: center;
}

.swiper-container .swiper-slide .mini-calendar {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.holiday {
  padding: 16px 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: $color-warning;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  @include mq(pc) {
    grid-template-columns: 1fr 2fr;
    max-width: 600px;
    margin: auto;
  }
  p {
    border: 1px solid $color-warning;
    margin: initial;
    margin: 16px;
  }
}

.googleMap {
  height: 250px;
  margin: 2em 0 0 0;
}