//header
header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}

.header-time {
  @include mq(pc) {
    display: block;
  }
}

.header-none {
  @include mq(pc) {
    font-weight: bold;
    letter-spacing: 2.2px;
    @include font-size(28);
  }
}

#global-nav li a:after {
  color: $color-w;
}

#global-nav li {
  border-left: 1px solid transparent;
}

#topBtn {
  background-color: $color-main;
  border-radius: 30px;
  bottom: -10px;
  box-sizing: border-box;
  color: $color-w;
  display: block;
  height: 60px;
  line-height: 38px;
  padding-top: 30px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 60px;
  z-index: 9999;
}

#topBtn:before {
  content: "top";
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}

#topBtn:hover {
  opacity: 0.8;
}

#header_inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  /*   gap: 10px; */
  padding: 0 5px 0 5px;
  grid-template-areas:
    "logo reservation . ."
    "logo reservation . ."
    "logo reservation . .";

  @include mq(pc) {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr 200px 1fr;
    grid-template-areas: none;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .logo {
    grid-area: logo;
    @include mq(pc) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
    }
  }
  .reservation {
    grid-area: reservation;
    @include mq(pc) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

.logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
  p {
    display: none;
    @include mq(pc) {
      margin-bottom: 5px;
      display: block;
      color: $color-nav;
      @include font-size(14);
    }
  }
  img {
    width: auto;
  }
}

.header-holiday {
  display: block;
  color: $color-warning;
  text-align: center;
  @include mq(pc) {
    display: inline;
  }
}

.fa-phone {
  background: $color-fa-phone;
  border-radius: 25px;
  color: $color-main;
  display: block;
  padding: 6px;
  @include mq(pc) {
    background: none;
  }
}

.information {
  justify-self: center;
  grid-column: 1 / 3;
  /*   grid-row: 2 / 2; */
  @include mq(pc) {
    grid-column: 3 / 4;
    color: $color-nav;
    justify-self: auto;
  }
}
.reservation {
  justify-self: center;
  span {
    text-align: center;
    @include border-radius(25);
    background-color: $color-main;
    @include mq(pc) {
    }
  }
  a {
    color: $color-w;
    display: inline-block;
    @include font-size(12);
    padding: 6px;
    @include mq(pc) {
      @include font-size(16);
      padding: 10px;
    }
  }
  @include mq(pc) {
    justify-self: end;
  }
}

#global-nav {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

#global-nav ul {
  background: $color-main;
  display: flex;
  flex-wrap: wrap;
  @include mq(pc) {
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /*   grid-template-columns: repeat(6, 170px); */
    justify-content: center;
  }
}

#global-nav ul li {
  flex-basis: 50%;
  flex-grow: 1;
}

#global-nav ul li a {
  color: $color-w;
  display: block;
  padding: 0.7rem;
  &:after {
    color: $color-w;
    content: attr(title);
    display: block;
    @include font-size(10);
    padding-top: 0.3rem;
    text-align: center;
    @include mq(pc) {
      color: $color-main;
      padding: 0.7rem;
      padding: 0;
    }
  }
  @include mq(pc) {
    color: $color-nav;
    padding: 0;
  }
}

#global-nav li {
  border-bottom: 1px solid $color-w;
  border-right: 1px solid $color-w;
  text-align: center;
  @include mq(pc) {
    width: 100%;
    border-left: 1px solid $color-navborder;
    border-right: 1px solid $color-navborder;
  }
}

#global-nav li + li {
  border-bottom: 1px solid $color-w;
  border-left: 0;
  border-right: 1px solid $color-w;
  @include mq(pc) {
    border-left: 1px solid $color-navborder;
    border-right: 1px solid $color-navborder;
    border-left: 0;
    text-align: center;
  }
}

//footer
footer {
  background: $color-main;
  gap: 10px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;

  .footer_inner {
    @include mq(pc) {
      grid-auto-rows: auto;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      max-width: 1200px;
      width: 100%;
      margin: auto;
      gap: 10px;
      @include font-size(14);
    }
    align-items: center;
    color: $color-w;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    padding: 0 16px 0;
    .footer-logo p {
      padding-top: 15px;
      margin-bottom: 0;
    }
  }

  .footer-info {
    @include mq(pc) {
      background: none;
      color: $color-w;
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr 50px 2fr;
    background: $color-w;
    color: $color-main;
    align-items: center;
    justify-items: center;
    margin: 25px 0 25px;
    .fa-phone {
      background: none;
      border-radius: 0;
      color: $color-main;
      display: block;
      @include font-size(20);
      @include mq(pc) {
        color: $color-w;
      }
    }
    .footer-yoyaku {
      color: $color-w;
      background-color: $color-main;
      @include border-radius(25);
      margin-bottom: initial;
      margin: initial;
      @include font-size(14);
      text-align: center;
      width: 6rem;
      @include mq(pc) {
        color: $color-main;
        background-color: $color-w;
        @include border-radius(25);
        @include font-size(12);
      }
    }
  }

  @include mq(sp) {
    .footer-info-2,
    .footer-info-3 {
      display: none;
    }
  }

  .footer-info-time,
  .footer-holiday {
    display: none;
    @include mq(pc) {
      display: block;
    }
  }

  .footer-holiday {
    @include mq(pc) {
      display: none;
    }
  }
}
/* 
  .footer-info-3--holiday{
      color: $color-warning;
    } */

.footer-nav li {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

.footer-nav li + li {
  border-left: 0;
  border-right: 1px solid #fff;
}

.footer-nav {
  display: none;
  @include mq(pc) {
    display: block;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  ul {
    @include mq(pc) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: inherit;
      max-width: 980px;
      margin: auto;
    }
    li > a {
      color: $color-w;
    }
  }
}

//Copyright
small {
  background: $color-sub;
  color: $color-w;
  display: block;
  padding: 1rem;
  text-align: center;
}
