.fig {
  /*   margin: 0 calc(50% - 50vw);
  padding: 24px calc(50vw - 50% + -1px);
  width: 100vw; */
  max-width: initial;
  background-color: $color-g;
  @include mq(pc) {
    margin-top: 100px;
/*     margin-bottom: 54px; */
  }
  .fig-col-2 {
    text-align: center;
    @include mq(pc) {
      display: grid;
      max-width: 800px;
      margin: auto;
      gap: 10px;
      justify-content: center;
      grid-template-columns:1fr 1fr;
    }
  }
}

.calendarArea,.index_width,.facilit,.summary,.googleMap{
  margin-top:100px;
}

.summary_inner {
  align-content: center;
  @include mq(pc) {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .summaryText {
    margin-bottom: initial;
    .text-big {
      @include font-size(22);
    }
  }
}

.access li {
  width: 70%;
  padding-left: 12px;
  position: relative;
  margin: auto;
  &:before {
    border: solid 4px transparent;
    border-left: solid 6px $color-main;
    content: "";
    height: 0;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 0;
  }
}
