.mainVisual {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  @include mq(pc) {
    margin-top: 3rem;
  }
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mainVisual-text  {
    color: $color-mainVisual-text;
    display: table-cell;
    text-shadow: #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px,
      #fff 0 0 3px;
    vertical-align: bottom;
    height: 200px;
    line-height: 1.5;
    padding: 2rem;
    @include font-size(12);
    @include mq(pc) {
      display: table-cell;
      vertical-align: bottom;
      height: 500px;
      @include font-size(25);
    }
  }
  .mainVisual-header,
  .mainVisual-body {
    padding:20px;
    width: 100%;
    @include mq(pc) {
    width: 80%;
    margin: auto;
    }
  }
  .mainVisual-header{
    letter-spacing: 10px;
/*     border-top: 2px solid $color-main;
 */    padding-bottom: initial;
  }
  p {
    line-height: initial;
    margin-bottom: initial;
  }
  .textSub {
    @include mq(pc) {
      @include font-size(18);
    }
  }
}

.catchcopy {
  @include mq(pc) {
    padding-top: 2rem;
    max-width: 800px;
  }
  h2 {
    font-weight: 600;
    @include mq(pc) {
      text-align: left;
    }
  }
  a {
    background-color: $color-main;
    @include border-radius(25);
    color: $color-w;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 5px 0 5px;
    text-align: center;
    max-width: 170px;
  }
}

.info {
  margin-top:50px;
  @include mq(pc) {
    margin-top:100px;
  }
  .info-inner {
    margin: auto;
    @include mq(pc) {
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      max-width: 1000px;
    }
  }
  .info-body {
    display: table;
    margin: auto;
  }

  p {
    max-width: 500px;
  }
}

.news{
  margin-top:50px;
  @include mq(pc) {
    margin-top:100px;
  }
}

.popup-content {
  padding-top: 0;
  .popup-image {
    span {
      border-bottom: solid 1px $color-main;
      display: block;
      margin: 3% 0;
      padding: 0 0 1% 1%;
    }
  }
}

.summary-body {
  .summary {
    border-top: 1px solid $color-main;
    color: $color-main
    line-height: 1.8;
    margin: 0.5rem 0 0.5rem 0;
    padding: 10px 0 0;
    width: 100%;
    dt {
      float: left;
      margin: 0;
      padding: 0 0 0 0.5rem;
      width: 7em;
    }
    dd {
      border-bottom: 1px solid $color-main;
      color: #000;
      margin: 0 0 1rem;
      padding: 0 5px 10px 7em;
      position: relative;
      text-align: left;
    }
  }
}
