.mainVisual {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    @include mq(pc) {
      margin-top: 3rem;
    }
    .swiper-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    p {
      color: #444;
      display: table-cell;
      text-shadow: #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px,
        #fff 0 0 3px;
      vertical-align: bottom;
      height: 200px;
      line-height: 1.5;
      padding: 2rem;
      @include font-size(12);
      @include mq(pc) {
        display: table-cell;
        vertical-align: bottom;
        height: 500px;
        @include font-size(25);
      }
    }
    .textSub {
      @include mq(pc) {
        @include font-size(18);
      }
    }
  }

  .Catchcopy {
    @include mq(pc) {
      padding-top: 2rem;
      max-width: 800px;
    }
    h2 {
      font-weight: 600;
      @include mq(pc) {
        text-align: left;
      }
    }
    a {
      background-color: $color-main;
      @include border-radius(25);
      color: $color-w;
      display: block;
      margin: auto;
      margin-top: 20px;
      padding: 5px 0 5px;
      text-align: center;
      width: 150px;
    }
  }
  
  .info {
      h3{
        @include font-size(18);
      }
    @include mq(pc) {
      margin-top: 54px;
    }
    .info-inner {
      margin: auto;
      @include mq(pc) {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
      }
    }
    .info-body {
      display: table;
      margin: auto;
      background: $color-sub;
      height: 100%;
    }
  
    p {
      max-width: 500px;
    }
  }