// サイズ
$size-base: 8px;

$width-pc-max: 1280px;
$width-pc-content-max: 1060px;
$width-pc-base-padding: $size-base * 5;
$width-sp-base-padding: $size-base * 3;

// メインカラー
$color-main:#715f5f;
$color-sub: #dbcaaa;
$color-bg: #fff6ec;

$color-nav: #787878;
$color-navborder: #333;

$color-calendar-p: #f8c7c7;
$color-calendar-o: #c8ebfe;
$color-fa-phone: #f1f2f4;

/* $color-th-bg: #fae0c9;
$color-accent: #fff700; */
$color-warning: #ec5b19;

$color-w: #fff;
$color-b: #000;
$color-g: #eee;
$color-g-sub: #ccc;
$color-gb: #404040;
$color-button:#666666;

$color-datepicker: #726250;
//英字フォント
$Cabin: "Cabin", sans-serif;